<%- include("partials/header") %>


<h1>
	<span><%= type %> with the title:</span><%= movieName %>
</h1>


<table border=4>
	<thead>
		<tr>
			<th>Title</th>
			<th>Year</th>
			<th>Poster</th>
		</tr>
	</thead>
	<tbody>
		
	<% data.forEach(function(movie){ %>
		<tr>
			<td>
				<strong><%= movie["Title"] %></strong> 
			</td>
			<td><em><strong><%= movie["Year"] %></strong></em></td>
			<td>
				<a href="<%= movie["Poster"] %>"><%= movie["Title"]%></a>
			</td>
		</tr>
	<% }) %>
		
	</tbody>
</table>

<%- include("partials/footer") %>